.blue-card-background {
  background-size: cover;
  background-image: url("assets/blue-card-bg.png");
}

.orange-card-background {
  background-size: cover;
  background-image: url("assets/orange-card-bg.png");
}

.green-card-background {
  background-size: cover;
  background-image: url("assets/green-card-bg.png");
}

.analytics-card {
  width: 300px;
  height: 100px;
}

.analytics-card-title {
  font-size: 45px;
  color: white;
}

.analytics-card-subtitle {
  color: white;
}
