<mat-grid-list cols="2">
  <mat-grid-tile>
    <mat-list>
      <h1 class="mat-display-1">Update skier</h1>
      <app-skier-detail #skierDetail></app-skier-detail>
      <button (click)="updateSkier()" [disabled]="!skierDetail.skierForm.valid || !skierDetail.skierForm.dirty"
              color="primary" mat-raised-button>Save
      </button>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-list>
      <mat-list-item>
        <h1 class="mat-display-1">Nominate skier</h1>
      </mat-list-item>
      <mat-list-item class="full-width">
        <form [formGroup]="nominateForm">
          <mat-form-field class="race-search">
            <input [matAutocomplete]="auto" formControlName="race" matInput placeholder="Race" required type="text">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFunctionRace.bind(this)">
              <mat-option *ngFor="let race of filteredRaces | async" [value]="race.id">
                {{race.name}}
                <span class="flag-icon flag-icon-{{race.location.country.code | lowercase}}"></span>
              </mat-option>
            </mat-autocomplete>
            <mat-error
              *ngIf="nominateForm.get('race').hasError('validrace') && !nominateForm.get('race').hasError('required')">
              Please enter a valid race
            </mat-error>
            <mat-error *ngIf="nominateForm.get('race').hasError('required')">
              A race is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </form>
      </mat-list-item>
      <mat-list-item>
        <button (click)="nominateSkier()" [disabled]="!nominateForm.valid" color="accent" mat-raised-button>Nominate
        </button>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
</mat-grid-list>
