<app-analytics></app-analytics>
<mat-grid-list cols="2" gutterSize="100">
  <mat-grid-tile>
    <mat-list class="home-list">
      <mat-list-item>
        <h1 class="home-title">Watch your favourite</h1>
      </mat-list-item>
      <mat-list-item>
        <h1 class="home-title">ski races!</h1>
      </mat-list-item>
      <mat-list-item>
        <p class="home-description">With Hurace you can watch your favourite ski races, analyse races and get an
          overview over
          seasons.</p>
      </mat-list-item>
      <mat-list-item>
        <a color="primary" mat-raised-button routerLink="/live-view">Explore live view</a>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile>
    <img alt="" src="../assets/dashboard-skier.png"/>
  </mat-grid-tile>
</mat-grid-list>
