.drawer-frame-root {
  display: flex;
  height: 100vh;
}

.drawer-frame-app-content {
  position: relative;
  width: 100%;
}

.drawer-main-content {
  overflow: auto;
  height: 100%;
  padding: 0 18px;
}
